
        .container{
            display:flex;
            justify-content: center;
            align-items: center;
            padding:2rem;

        }
        .myform{
            border: solid black 2px;
            border-radius: 1rem;
            padding:3rem;
            font-weight: bold;
            width: 30%;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 1rem;

        }
        .btn-div{
            text-align: center;
        }
        #msg{
            color: red;
        }
        h1{
            text-decoration: underline;
        }
        hr{
           width: 100%;
           height: 2px;
           background-color: #7e1d1dfd;
           
        }
        .btn{
            color:white;
            background-color: #7e1d1dfd;
            border-color:  #7e1d1dfd;
            border-radius:5px;
            padding: 0.5rem;
        }
        .btn:hover{
            color:white;
            background-color: #007bff;
            border-color: #007bff;
        }
        .form-control{
            width:80%;
        }
